:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 20px;
  position: relative;
}

.spinner {
  background-image: url("https://media.tenor.com/lUIQnRFbpscAAAAi/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
