.card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
}

.card-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
}

.card.disabled {
  color: #878787;
  background-color: #ebe7e7;
}

.card:has(.portrait) {
  flex-direction: row;
}

.card-media {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.card-media.portrait {
  max-width: 100px;
}

.card.disabled .card-media {
  opacity: 0.5;
}

.card-content {
  margin: 8px 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}


@media (min-width: 800px) {
  .card {
    flex-direction: row;
    max-height: 162px;
  }
  .card-media {
    /*height: 100%;*/
    max-width: 250px;
    /*max-height: 174px;*/
    max-height: unset;
  }
}


